<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Compiler.Service" version="28.0.0" targetFramework="net472" />
  <package id="FSharp.Core" version="4.6.2" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net472" />
</packages>